<div class="wrapper">
  <h1>A Markdown "kind of" WYSIWYG editor built with jQuery MarkItUp, served in Ruby On Rails.</h1>
  <form action="markitup/preview" method="post">
    <textarea id="textarea" name="textarea">
# Letting go of the old, embracing the new

The time in software development when you realize that version numbers are moving away from each other, is the time to stop & rethink you goal.

Lalala is our driving engine. Built upon Ruby On Rails, we serve our clients a CMS that gives them the control they deserve, dressed in a Mr. Henry jacket.

Our, steady as a rock, current Lalala is built upon Rails 2.3, and some of our features we're impossible to upgrade out of the box to Rails 3. After analysing the upgrade possibility, we thought it was good to start with a blank sheet & the lessons we learned from the past.

There our journey to a new Lalala began!
    </textarea>
  </form>
  <div class="fullscreen-arrow">Go fullscreen</div>
</div>
