#markdown-cheatsheet {
  @include box-shadow();
  background-color: rgba(255,255,255, 0.95);
  bottom: 0;
  overflow: auto;
  padding: 15px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 230;

  pre {
    background-color: rgb(240,240,240);
    padding: 7px;
  }

}
