<!DOCTYPE html>
<html>
<head>
  <title>MarkitupPrototype</title>
  <%= stylesheet_link_tag "markitup-preview", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
